/* Exercise 2 */
body{
    background-color: linen;
}

.outer-box{
    position: absolute;
    background-color: sandybrown;
    top: 50%;
    width: 70%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
}
.center-box{
    position: absolute;
    background-color: salmon;
    top: 50%;
    width: 80%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
}

.header {
    text-transform: uppercase;
    color: darkslateblue;
    height: 40px;
    margin-bottom: 50px;
    font-family: 'Kosugi Maru', sans-serif;
    text-align: center;
  }

.paragraph{
    text-transform: uppercase;
    color: darkslateblue;
    height: 40px;
    margin-bottom: 50px;
    font-family: 'Kosugi Maru', sans-serif;
    text-align: center;
}
/* .container-div {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px LightGray;
}
.first-div {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: red;
    border-radius: 50%
    
} */